<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtos Finais</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/roupaT.png">
      </ion-thumbnail>
      <ion-label> {{ item.nome }} </ion-label>
      <button ion-button clear item-end *ngIf="item.temEstoqueMateriaPrima"
        (click)="presentAlertConfirm(item)">Produzir</button>
        
  </ion-list>
</ion-content>
