page-produto {
    ion-label {
     font-size: 13px;
    }

    my-custom-class .alert-wrapper {
        background: #e5e5e5;
    }

    alert-wrapper {
        background: #e5e5e5;
    }

    my-custom-class {
        --background: #e5e5e5;
    }
}
