page-home {
    h3 {
        margin-top: 50px;
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
