<ion-content padding>
  
  <br><br><br><br>
  <h3>Desafio Guararapes - Rchlo</h3>
  <br><br>
  
  <img src="../../assets/imgs/tela_inicial.png" alt="logo">

  <form>
    <br><br><br>
   <button ion-button block (click)="entrar()">Entrar</button>
  </form>
</ion-content>
